.number-circle {
  border-radius: 50%;
  background-color: #cdcfd1;
  color: #000000;
  width: 1rem;
  height: 1rem;
  text-align: center;
  font-size: 0.8rem;
}

.table {
  width: 24rem;
  height: 50rem;
  background-color: #eff1f3;
  box-sizing: border-box;
  border-radius: 7px;
  border: 1px solid #000000;
  padding: 1rem;
}

.icon {
  cursor: pointer;
}
