.card {
  box-sizing: border-box;
  background-color: #ffffff;
  height: 6rem;
  padding: 1rem;
  border: 1px solid #000000;
  border-radius: 7px;
  width: 100%;
  margin-top: 1rem;
  cursor: grab;
}

.card-prefix {
  color: #c6c9cd;
  display: block;
}

.card-author {
  display: block;
  margin-left: 0.5rem;
}

.card-title {
  font-size: 0.9rem;
  margin-left: 0.5rem;
}

.dragging {
  opacity: 0.5;
}
