.header-content {
  color: #ffffff;
  height: 100%;
}

.header-content-todo {
  display: flex;
  align-items: center;
}

.header-content-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}

.header {
  overflow: hidden;
}
